.navigation-menu-enter {
    opacity: 0;
}

.navigation-menu-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.navigation-menu-exit{
    opacity: 1;
}

.navigation-menu-exit-active{
    opacity: 0;
    transition: opacity 400ms ease-in;
}